vendor/
hooks/*.php
*.log
*.cache
.env
cookies.txt

.github/*
!.github/workflows/ci.yml

responses/*
!responses/errors/**
!responses/others/**
!responses/users/**

schema/*.json
schema/*.yaml

sessions/*
temp/*
